@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="container text-white py-5 mt-5 animated fadeIn">
        <div class="row">
            <div class="col-md-7">
                <img src="~/img/hr.jpg" alt="Alternate Text" height="350" class="animated fadeInLeftBig" />
            </div>
            <div class="col-md-5 animated fadeInRightBig" >
                <h2>Gestión de Recursos Humanos</h2>
         
                <p>
                    El objetivo fundamental de este software es la gestión del capital humano 
                    de tu empresa o institución.
                </p>
                <p>
                    Las principales funciones de este software son:
                </p>
                <ul>
                    <li>Permitir el mantenimiento tanto de empleados, como de cargos y departamentos</li>
                    <li>Generar una serie de informes con el objetivo de poder manejar eficientemente los recursos 
                    de la empresa</li>
                    <li>Brindar un serie de procesos con los cuales poder llevar un mayor control
                    del movimiento de empleados</li>
                </ul>
            </div>
        </div>
       
    </div>
</div>
@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@