@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="container text-white py-5 mt-5 animated fadeIn">
        <div class="row">
            <div class="col-md-7">
                <img src="~/img/hr.jpg" alt="Alternate Text" height="350" class="animated fadeInLeftBig" />
            </div>
            <div class="col-md-5 animated fadeInRightBig" >
                <h2>Gestión de Recursos Humanos</h2>
         
                <p>
                    El objetivo fundamental de este software es la gestión del capital humano 
                    de tu empresa o institución.
                </p>
                <p>
                    Las principales funciones de este software son:
                </p>
                <ul>
                    <li>Permitir el mantenimiento tanto de empleados, como de cargos y departamentos</li>
                    <li>Generar una serie de informes con el objetivo de poder manejar eficientemente los recursos 
                    de la empresa</li>
                    <li>Brindar un serie de procesos con los cuales poder llevar un mayor control
                    del movimiento de empleados</li>         
                </ul>
            </div>
        </div>
       
    </div>
</div>
