@model IEnumerable<ProyectoFinal.Models.Departamentos>

@{
    ViewBag.Title = "Lista";
}

<br />

<div class="container animated pulse">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-secondary text-white text-center">
                    <h3>Lista de Departamentos</h3>

                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.codigoDepartamento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>

                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.codigoDepartamento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>

                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




