@model ProyectoFinal.Models.Cargos

@{
    ViewBag.Title = "Delete";
}

<br>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-secondary text-white text-center">
                    <h5>Seguro de querer borrar este Cargo?</h5>
                    
                </div>
                <div class="card-body">
                    <div>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Cargo):
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Cargo)
                            </dd>

                        </dl>
                        <hr />
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Borrar" class="btn btn-primary" /> |
                                @Html.ActionLink("Atras", "Index")
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


